<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mbile Information</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center mb-4">Mobile List</h1>
        <!-- {{data}} -->
         <div class="row">
            {% for v in data %}
            <div class="col-3" >
                <div class="card mb-4"  style="width: 100%;">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{v.model}}</h5>
                      <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">brand: {{v.brand}}</li>
                      <li class="list-group-item">Realese year: {{v.release_year}}</li>
                      <li class="list-group-item">price: {{v.price}}</li>
                    </ul>
                    <div class="card-body">
                      <a href="{%url 'mobile-detail' v.id%}" class="card-link">View</a>
                      <a href="{%url 'mobile-delete' v.id%}" class="card-link">Delete</a>
                    </div>
                  </div>
            </div>
            
            {% endfor %}

         </div>
      
    </div>

   
</body>
</html>
